body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
.heading{
	width:80%;
	font-size: 22px;
}
#camera{
	border: 2px dash black;
	width: 350px;
    height: 300px;
}
.name_of_objects,#result object name , #result object accuracy{color:aqua};
